arcade==2.6.17
colorama==0.4.6
langchain==0.1.0
langchain-core==0.1.8
langsmith==0.0.78
langchain_openai==0.0.2
openai==1.7.0
tiktoken==0.5.2
pydantic==2.5.2
pydantic_core==2.14.5
python-dotenv==1.0.0
pytest
termcolor==2.4.0
scikit-image==0.22.0
matplotlib==3.8.2
google-cloud-texttospeech==2.15.1